@import "src/assets/sass/general.scss";

.container-payment {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;
    width: 100%;
  
    .card-payment {
      margin-top: 30px;
      position: relative;
      cursor: pointer;
  
      .face {
        width: 300px;
        height: 200px;
        transition: 0.5s;
      }
  
      .face.face1 {
        position: relative;
        background: $sunarp-gray-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        transform: translateY(100px);
        border: 3px solid black;
        border-radius: 30px;
        box-shadow: 0px 0px 27px 11px rgba(0, 0, 0, 0.20);
  
        .content-payment {
          opacity: 0.5;
          transition: 0.8s;
          text-align: center;
          img {
            max-width: 100px;
          }
  
          h3 {
            margin: 15px 0 0;
            padding: 0;
            color: $sunarp-white;
            text-align: center;
            font-size: 1.1em;
          }
        }
  
        &:hover {
          .content-payment {
            opacity: 1;
          }
        }
      }
  
      .face.face2 {
        position: relative;
        background: $sunarp-white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        transform: translateY(-100px);
        text-align: center;
  
        .content-payment {
          p {
            margin: 0;
            padding: 0;
            font-family: $ff-avenirLTStd-book;
            font-size: 18px;
          }
  
          button {
            margin-top:30px;
          }
        }
      }
  
      .face.face1.selected-face {
        background: $sunarp-gray-dark;
        transform: translateY(0);
        border-radius: 30px 30px 0px 0px;
  
        .content-payment {
          opacity: 1;
        }
      }
  
      .face.face2.selected-face {
        transform: translateY(0);
        border: 3px solid black;
        border-top: 0px;
        border-radius: 0px 0px 30px 30px;
        box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.20);
      }
    }
  }
  